body {
    background-color: blanchedalmond;
    align-items: center;
}

.container {
    background-color: aliceblue;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 50vh;
    border: 10px solid black;
    margin: 5px;
    border-radius: 5px;
}

form *{
    cursor: pointer;
}

#option {
    border: 3px solid black;
    border-radius: 3px;
}

#final {
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 100px;
    color: black;
    font-size: 40px;
}